<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.main.mapper.AdminMapper">

<select id="getUserList" resultType="com.main.vo.UsersVo">
	SELECT
		u.user_id,
		u.user_txid,
		u.user_name,
		u.email,
		u.nickname,
		u.auth_id,
		a.auth_name,
		u.create_date,
		u.modify_date,
		u.sns_type,
		u.sns_profile,
		u.sns_connect_date
	FROM users u
	JOIN user_auth a
		ON u.auth_id = a.auth_id
	ORDER BY u.user_id DESC
</select>

<select id="getUserById" resultType="com.main.vo.UsersVo">
	SELECT
		user_id,
		user_txid,
		user_name,
		email,
		nickname,
		auth_id,
		create_date,
		modify_date,
		sns_type,
		sns_profile,
		sns_connect_date
	FROM users
	WHERE user_id = #{userId}
</select>

<update id="updateUser" parameterType="com.main.vo.UsersVo">
	UPDATE users
	<trim prefix="SET" >
	<if test="email != null">
		email = #{email},
	</if>
	<if test="nickname != null">
		nickname = #{nickname},
	</if>
	<if test="mobile != null">
		mobile = #{mobile},
	</if>
	<if test="authId != null">
		auth_id = #{authId},
	</if>
	<if test="snsType != null">
		sns_type = #{snsType},
	</if>
		modify_date = CURRENT_TIMESTAMP()
	</trim>
	WHERE user_id = #{userId}
</update>

<select id="getUserAuth" resultType="com.main.vo.UserAuthVo">
	SELECT
		auth_id,
		auth_name
	FROM user_auth
</select>

<insert id="insertMenu" parameterType="com.main.vo.MenuVo">
	INSERT INTO menu
	(menu_parent, menu_name, menu_link, menu_order, rd_auth, wr_auth)
	VALUES (#{menuParent},#{menuName},#{menuLink},
		(
		SELECT
			IFNULL(MAX(m.menu_order) + 1, 1)
		FROM menu m
		WHERE m.menu_parent = #{menuParent} 
		),
	#{rdAuth},#{wrAuth})
</insert>

<delete id="deleteMenu">
	DELETE FROM menu
	WHERE menu_id = #{menuId}
</delete>

<update id="updateMenu" parameterType="com.main.vo.MenuVo">
	UPDATE menu
	<trim prefix="SET" suffixOverrides=",">
	<if test="menuName != null">
		menu_name = #{menuName},
	</if>
	<if test="menuLink != null">
		menu_link = #{menuLink},
	</if>
	<if test="menuOrder != null and menuOrder != 0">
		menu_order = #{menuOrder},
	</if>
	<if test="rdAuth != null and rdAuth != 0">
		rd_auth = #{rdAuth},
	</if>
	<if test="wrAuth != null and wrAuth != 0">
		wr_auth = #{wrAuth},
	</if>
	<if test="useYn!= null">
		use_yn = #{useYn},
	</if>
	</trim>
	WHERE menu_id = #{menuId}
</update>

</mapper>
