<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.main.mapper.AdminMapper">

<select id="getUserList" resultType="com.main.vo.UsersVo">
	SELECT
		*
	FROM users
</select>

<insert id="insertMenu" parameterType="com.main.vo.MenuVo">
	INSERT INTO menu
	(menu_parent, menu_name, menu_link, menu_order, rd_auth, wr_auth)
	VALUES (#{menuParent},#{menuName},#{menuLink},
		(
		SELECT
			IFNULL(MAX(m.menu_order) + 1, 1)
		FROM menu m
		WHERE m.menu_parent = #{menuParent} 
		),
	#{rdAuth},#{wrAuth})
</insert>

<delete id="deleteMenu">
	DELETE FROM menu
	WHERE menu_id = #{menuId}
</delete>

<update id="updateMenu" parameterType="com.main.vo.MenuVo">
	UPDATE menu
	<trim prefix="SET" suffixOverrides=",">
	<if test="menuName != null">
		menu_name = #{menuName},
	</if>
	<if test="menuLink != null">
		menu_link = #{menuLink},
	</if>
	<if test="menuOrder != null and menuOrder != 0">
		menu_order = #{menuOrder},
	</if>
	<if test="rdAuth != null and rdAuth != 0">
		rd_auth = #{rdAuth},
	</if>
	<if test="wrAuth != null and wrAuth != 0">
		wr_auth = #{wrAuth},
	</if>
	<if test="useYn!= null">
		use_yn = #{useYn},
	</if>
	</trim>
	WHERE menu_id = #{menuId}
</update>

</mapper>
