<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.mapper.BoardMapper">

<insert id="insertBoard" parameterType="com.main.vo.BoardVo" useGeneratedKeys="true" keyColumn="bord_id" keyProperty="bordId">
	INSERT INTO board
	(bord_catg, bord_titl, bord_cont, user_id, bord_date, bord_hitc, bord_wrip)  
	VALUES (#{bordCatg},#{bordTitl},#{bordCont},#{userId},CURRENT_TIMESTAMP,0,#{bordWrip})
</insert>

<select id="getBoardList" resultType="com.main.vo.BoardVo">
	SELECT 
		b.bord_id,
		b.bord_catg,
		c.catg_name, 
		b.bord_titl, 
		b.bord_cont, 
		b.user_id, 
		u.nickname,
		b.bord_date, 
		b.bord_hitc, 
		b.bord_wrip,
		f.file_cnt,
		bc.comment_cnt,
		(SELECT COUNT(bord_id) FROM board 
			WHERE 1=1
			<if test="search != null and search != ''">
				AND bord_titl LIKE CONCAT('%', #{search}, '%')
				OR bord_cont LIKE CONCAT('%', #{search}, '%') 
			</if>
			<if test="category != null and category != ''">
				AND bord_catg = #{category}
			</if>
		) cnt
	FROM board b
	LEFT OUTER JOIN users u
		ON b.user_id = u.user_id
	LEFT OUTER JOIN category c
		ON c.catg_id = b.bord_catg
	LEFT OUTER JOIN (
		SELECT
			bord_id,
			COUNT(file_id) file_cnt
		FROM board_file
		GROUP BY bord_id
	) f
		ON f.bord_id = b.bord_id
	LEFT OUTER JOIN (
		SELECT
			bord_id,
			COUNT(comm_id) comment_cnt
		FROM board_comment
		GROUP BY bord_id 
	) bc
		ON bc.bord_id = b.bord_id
	WHERE 1 = 1
	<if test="search != null and search != ''">
		AND bord_titl LIKE CONCAT('%', #{search}, '%')
		OR bord_cont LIKE CONCAT('%', #{search}, '%') 
	</if>
	<if test="category != null and category != ''">
		AND bord_catg = #{category}
	</if>
	ORDER BY bord_id DESC 
	LIMIT #{pageSize} OFFSET #{startRow} 
</select>

<update id="updateBoard" parameterType="com.main.vo.BoardVo">
	UPDATE board
	SET bord_catg = #{bordCatg}, bord_titl = #{bordTitl}, bord_cont = #{bordCont}
	WHERE bord_id = #{bordId}
</update>

<update id="addHitc">
	UPDATE board
	SET bord_hitc = bord_hitc + 1
	WHERE bord_id = #{bordId}
</update>

<select id="getBoard" resultType="com.main.vo.BoardVo">
	SELECT
		b.bord_id,
		b.bord_catg,
		c.catg_name, 
		b.bord_titl, 
		b.bord_cont, 
		b.user_id, 
		u.nickname,
		b.bord_date, 
		b.bord_hitc, 
		b.bord_wrip
	FROM board b
	LEFT JOIN category c
		ON b.bord_catg = c.catg_id
	LEFT JOIN users u
		ON b.user_id = u.user_id
	WHERE b.bord_id = #{bordId}
</select>

<delete id="deleteBoard">
	DELETE FROM board
	WHERE bord_id = #{bordId}
</delete>

<select id="getCategoryList" resultType="com.main.vo.CategoryVo">
	SELECT
		catg_id,
		catg_name,
		catg_crdt
	FROM category
	ORDER BY catg_name
</select>

<select id="getCategoryName">
	SELECT
		catg_name
	FROM category
	WHERE catg_id = #{catgId}
</select>

<!-- File -->

<insert id="insertFile" parameterType="com.main.vo.FileVo">
	INSERT INTO board_file
	(bord_id, file_olnm, file_svnm)  
	VALUES (#{bordId},#{fileOlnm},#{fileSvnm})
</insert>

<select id="getFileList" resultType="com.main.vo.FileVo">
	SELECT
		file_id,
		bord_id,
		file_olnm,
		file_svnm,
		file_date
	FROM board_file
	WHERE bord_id = #{bordId}
</select>

<select id="getFile" resultType="com.main.vo.FileVo">
	SELECT
		bord_id,
		file_olnm,
		file_svnm,
		file_date
	FROM board_file
	WHERE file_id = #{fileId}
</select>

<delete id="deleteFile">
	DELETE
	FROM board_file
	WHERE file_id = #{fileId}
</delete>

<!-- File -->


<!-- Comment -->

<select id="getCommentCnt" resultType="int">
	SELECT
		COUNT(comm_id) cnt
	FROM board_comment
	WHERE bord_id = #{bordId} 
</select>

<select id="getCommentList" resultType="com.main.vo.CommentVo">
	SELECT
		a.comm_id,
		a.bord_id,
		a.user_id,
		a.isCreated,
		a.nickname,
		a.comm_cont,
		a.comm_date,
		a.cnt
	FROM (
		SELECT
			c.comm_id,
			c.bord_id,
			c.user_id,
			c.user_id = #{userId} isCreated,
			u.nickname,
			c.comm_cont,
			c.comm_date,
			(SELECT COUNT(comm_id) 
				FROM board_comment
				WHERE bord_id = #{bordId} 
			) cnt,
			ROW_NUMBER() OVER() rnum
		FROM board_comment c
		LEFT OUTER JOIN users u
			ON c.user_id = u.user_id
		WHERE c.bord_id = #{bordId}
		ORDER BY c.comm_date ASC
	) a
	WHERE a.rnum > #{startRow}
	LIMIT #{pageSize} 
</select>

<insert id="insertComment" parameterType="com.main.vo.CommentVo">
	INSERT INTO board_comment
	(bord_id, user_id, comm_cont)  
	VALUES (#{bordId},#{userId},#{commCont})
</insert>

<delete id="deleteComment">
	DELETE FROM board_comment 
	WHERE 1=1
	<choose>
	<when test="commId != null and commId != ''">
		AND comm_id = #{commId}
	</when>
	<when test="bordId != null and bordId != ''">
		AND bord_id = #{bordId}
	</when>
	</choose>
</delete>

<!-- Comment -->

</mapper>