<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.mapper.HomeMapper">

<!-- menu -->

<select id="getMenuList" parameterType="java.util.List" resultType="com.main.vo.MenuVo">
	WITH RECURSIVE menuTree AS (
		SELECT 1 depth,
			CAST(CONCAT(m1.menu_order) AS VARCHAR(10)) seq,
			m1.*
		FROM menu m1
		WHERE m1.menu_parent = 0
			AND m1.rd_auth IN (
			<foreach item="item" separator="," collection="authList">
				${item}
			</foreach>
			)
		UNION ALL
		SELECT p.depth + 1 depth,
			CONCAT(p.seq,'_',c.menu_order) seq,
			c.*
		FROM menuTree p
		JOIN menu c
			ON p.menu_id = c.menu_parent
		WHERE 1=1
		AND p.rd_auth IN (
		<foreach item="item" separator="," collection="authList">
			${item}
		</foreach>
		)
	)
	SELECT
		m1.depth,
		m1.menu_id,
		m1.menu_parent,
		m1.menu_name,
		m1.menu_link,
		m1.menu_order,
		m1.rd_auth,
		m1.wr_auth,
		m1.use_yn,
		m1.created_date,
		CASE 
			WHEN m2.child_cnt IS NOT NULL THEN m2.child_cnt
			ELSE 0
		END child_cnt
	FROM menuTree m1
	LEFT OUTER JOIN (
		SELECT 
			menu_id,
			menu_parent,
			COUNT(menu_parent) child_cnt 
		FROM menu 
		GROUP BY menu_parent
	) m2
		ON m1.menu_id = m2.menu_parent
	WHERE m1.use_yn = 'Y'
	ORDER BY m1.seq
</select>

<select id="getMenuByLink" resultType="com.main.vo.MenuVo">
	SELECT
		menu_id,
		menu_parent,
		menu_name,
		menu_order,
		rd_auth,
		wr_auth,
		created_date
	FROM menu
	WHERE use_yn = 'Y'
		AND menu_link = #{menuLink}
</select>

<!-- menu -->


<select id="getSiteList" resultType="com.main.vo.SiteVo">
	SELECT
		site_id,
		user_id,
		site_name,
		site_url,
		created_date
	FROM site
	WHERE user_id = #{userId}
</select>

<insert id="insertSite" parameterType="com.main.vo.SiteVo">
	INSERT INTO site
	(user_id, site_name, site_url)
	VALUES (#{userId}, #{siteName}, #{siteUrl})
</insert>

<delete id="deleteSite" parameterType="com.main.vo.SiteVo">
	DELETE FROM site
	WHERE 1=1
		<if test="userId != null and userId != ''">
		AND user_id = #{userId}
		</if>
		<if test="userId != null and userId != ''">
		AND site_id = #{siteId}
		</if>
</delete>


</mapper>