<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds">
	<property name="LOG_PATH" value="log"/>
	<property name="LOG_FILE_NAME" value="log-arc"/>
	<property name="LOG_PATTERN_CONSOLE" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %cyan([%logger{40}]) - %msg%n"/>
	<property name="LOG_PATTERN_FILE" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%logger{40}] - %msg%n"/>
	<property name="LOG_LEVEL" value="info"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${LOG_PATTERN_CONSOLE}</Pattern>
        </encoder>
    </appender>
    
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
    	<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN_FILE}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/%d{yyyy-MM, aux}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    
	<logger name="jdbc.sqlonly" level="OFF" />
	<logger name="jdbc.resultset" level="OFF" />
	<logger name="jdbc.audit" level="OFF" />
	<logger name="jdbc.connection" level="OFF" />
	<logger name="jdbc.sqltiming" level="INFO" />
	<logger name="jdbc.resultsettable" level="INFO" />
	 
    <root level="${LOG_LEVEL}">
   	    <springProfile name="local">
	        <appender-ref ref="CONSOLE"/>
   	    </springProfile>
   	    <springProfile name="dev">
   	    	<appender-ref ref="CONSOLE"/>
	        <appender-ref ref="FILE"/>
   	    </springProfile>
    </root>
    
</configuration>